scp
paramiko
botocore==1.17.28
boto3
pylint
pytest
pytest-html
pytest-forked
pytest-repeat
pytest-timeout
pytest-xdist
GitPython
Jinja2
future>=0.16.0
prettytable
cryptography
requests
netaddr
flake8
pyflakes
rpyc
PyYAML
autopep8
beautifulsoup4
awscli==1.18.105
kubectl(v1.23.0)
ansible
